<footer>

    <div class="container">
        <div class="wrap-footer">
            <div class="row">
                <div class="col-md-3 col-footer footer-1">
                    <img src="~/Asset/images/DASHOP.jpg" />
                    <p>
                        Hotline: 0966841419
                        (9h-18h từ thứ 2 đến thứ 6)
                        Email: DAshop@gmail.com
                    </p>
                </div>
                <div class="col-md-3 col-footer footer-2">
                    <div class="heading">
                        <h4>Về DA SHOP</h4>
                    </div>
                    <ul>
                        <li><a href="@Url.Action("About","Home")">Các điều khoản khác</a></li>
                        <li><a href="@Url.Action("About","Home")">Hợp tác</a></li>
                        <li><a href="@Url.Action("About","Home")">Hỏi và Đáp</a></li>
                        <li><a href="@Url.Action("About","Home")">Chính sách khách hàng</a></li>
                        <li><a href="@Url.Action("About","Home")">Chính sách bảo hành</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-footer footer-3">
                    <div class="heading"><h4>My Account</h4></div>
                    <ul>
                        <li><a href="@Url.Action("About","Home")">Thông tin</a></li>
                        <li><a href="@Url.Action("index","GioHang")">Giỏ hàng</a></li>
                        <li><a href="#">Gift Vouchers</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-footer footer-4">
                    <div class="heading"><h4>Contact Us</h4></div>
                    <ul>
                        <li><span class="glyphicon glyphicon-home"></span>141 Điện biên phủ phường 15 Quận Bình Thạnh </li>
                        <li><span class="glyphicon glyphicon-earphone"></span>+84 966841419</li>
                        <li><span class="glyphicon glyphicon-envelope"></span>DAshop.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    CÔNG TY TNHH DA SHOP - <a href="#" rel="nofollow" target="_blank">GPĐKKD: 0314119937</a> Designed by <a href="#" rel="nofollow" target="_blank">Được thực hiện bởi 3 sinh viên trường Đại Học Kinh Tế Tài Chính UEF</a>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <ul>
                            <li><img src="~/Asset/images/visa-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/paypal-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/discover-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/maestro-curved-32px.png" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
